name: Create release

on:
  push:
    tags:
      - "*.*.*"
    # Pre-release
    branches:
      - "**"

env:
  COMPOSE_USER: root

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Build and create release
        env:
          # https://stackoverflow.com/a/71158878/2502647
          GH_TOKEN: ${{ github.TOKEN }}
        run: |
          is_prerelease=false
          # https://docs.github.com/en/actions/writing-workflows/choosing-what-your-workflow-does/contexts#github-context
          tag_name="${{ github.ref_name }}"
          release_name="${tag_name}"

          # If the type is a branch, then we do a prerelease
          if [ "${{ github.ref_type }}" == "branch" ]; then
            is_prerelease=true
            # Replace everything but letters and numbers in branch name with _
            tag_name="dev-${tag_name//[^[:alnum:]-]/_}"
            release_name="release-${tag_name}"
          fi

          # https://stackoverflow.com/a/55609950
          # This does not work!
          # git ls-tree -r --name-only HEAD | while read filename; do
          #   unixtime=$(git log -1 --format="%at" -- "${filename}")
          #   touchtime=$(date -d @${unixtime} +'%Y%m%d%H%M.%S')
          #   touch -t ${touchtime} "${filename}"
          # done

          docker compose --file scripts/compose.yaml run --rm --entrypoint scripts/sangbog typst

          # Delete release if it already exists.
          gh release view "$release_name" > /dev/null 2>&1 && gh release delete "$release_name" --yes
          if [ "$is_prerelease" = true ]; then
            gh release create "$release_name" --prerelease *.pdf
          else
            gh release create "$release_name" *.pdf
          fi
